.contact-edit-page {
    text-align: center;
    .nav {
        background-color: #0c1217;
        font-size: 1.6rem;
        height: 50px;
        a {
            color: whitesmoke;
            text-decoration: none;
        }
    }
    .details-wrapper {
        background-color: #253541;
        .details {
            padding-block: 20px;
            .avatar {
                height: 150px;
                margin-bottom: 20px;
                img {
                    height: 100%;
                }
            }
            form {
                margin: auto;
                max-width: 550px;
                input {
                    font-size: 1.2rem;
                    padding: 15px;
                    margin-bottom: 5px;
                    border: 2px solid #0c1217;
                    background-color: #0c1217ad;
                    color: whitesmoke;
                    border-radius: 7px;
                    outline: none;
                }
                button {
                    background-color: #ef4f6b;
                    padding: 15px;
                    font-size: 1.2rem;
                    color: whitesmoke;
                    border: 2px solid #0c1217;
                    border-radius: 7px;
                    width: 100px;
                    align-self: end;
                    cursor: pointer;
                    transition: 0.4s;
                }
            }
        }
    }
}
